@model AccountsByStatusScreenModel


<article class="grid">
    <header class="grid">
        <div class="title-container">
            <h1>Coding Test</h1>
        </div>
    </header>
    <main class="content grid" id="home-content">
        <div class="content-title-container">
            <h2>Accounts</h2>
        </div>
        <section class="grid" id="account-grid">
            <section class="account-column grid" id="active-account-column">
                <div class="account-container-title" id="active-account-container-title">
                    <h3>Active</h3>
                </div>
                <div class="account-container active-account">
                    @foreach (var account in Model.ActiveAccounts)
                    {
                        <partial name="AccountModel" model="account" />
                    }
                </div>
            </section>
            <section class="account-column grid" id="overdue-account-column">
                <div class="account-container-title" id="overdue-account-container-title">
                    <h3>Overdue</h3>
                </div>
                <div class="account-container overdue-account">
                    @foreach (var account in Model.OverdueAccounts)
                    {
                        <partial name="AccountModel" model="account" />
                    }
                </div>
            </section>
            <div class="account-column grid" id="inactive-account-column">
                <div class="account-container-title" id="inactive-account-container-title">
                    <h3>Inactive</h3>
                </div>
                <div class="account-container inactive-account">
                    @foreach (var account in Model.InactiveAccounts)
                    {
                        <partial name="AccountModel" model="account" />
                    }
                </div>
            </div>
        </section>
    </main>
    <footer class="grid">
        <p class="copy">&copy;
        <script>document.write(new Date().getFullYear())</script></p>
    </footer>
</article>
